<div class="auth-container">
    <div class="left-column" >
      
      <h2>Găsește Punctele SGR din Apropierea Ta!</h2>
        <p>
          Descoperă rapid unde poți recicla sticle și ambalaje, direct de pe hartă!<br>
          Adaugă locații noi, verifică distanțele și coada la punctele SGR din zona ta, scanează bonurile și ai șansa să câștigi premii atractive!<br>
          Fii parte din schimbare și ajută la crearea unui mediu mai curat!
        </p>
    </div>
  
    <div class="right-column">
      <h2 class="title-font">Înregistrare</h2>
      
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
       
        <div class="form-control">
          <label for="email">Adresă de email</label>
          <input id="email" type="email" formControlName="email" placeholder="Enter your email" />
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">
            {{ registerForm.get('email')?.errors?.email ? 'Invalid email' : 'Email required' }}
          </div>
        </div>
    
        <div class="form-control">
          <label for="password">Creează parolă</label>
          <input id="password" type="password" formControlName="password" placeholder="Create a password" />
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
            {{ registerForm.get('password')?.errors?.required ? 'Password required' : registerForm.get('password')?.errors?.minlength }}
          </div>
        </div>
    
        <div class="form-control">
          <label for="confirmPassword">Confirmă parolă</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm your password" />
          <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="error">
            {{ registerForm.get('confirmPassword')?.errors?.required ? 'Confirm password required' : 'Passwords must match' }}
          </div>
        </div>
    
        <div class="form-control">
          <input id="terms" type="checkbox" formControlName="terms" />
          <label for="terms">Sunt de acord cu termenii și condițiile.</label>
          <div *ngIf="registerForm.get('terms')?.invalid && registerForm.get('terms')?.touched" class="error">
            You must accept the terms
          </div>
        </div>
    
        <button type="submit" [disabled]="registerForm.invalid" class="submit-button">
          Crează cont
        </button>
    
        <div class="signup-message" (click)="router.navigate(['/login'])">
           Ai deja cont? Autentifică-te aici!
        </div>
      </form>
    </div>
  </div>
  
  