<!-- Navbar displayed conditionally based on the route -->
<div class="topnav" *ngIf="isMainPage(); else defaultNavbar">
    <div><img src="../../assets/recycling.png" class="logo" /></div>
    <div class="text_logo">FindYourSGR</div>
    <a *ngFor="let tab of tabs" 
       href="javascript:void(0);" 
       (click)="onTabClick(tab)">
        {{ tab.name }}
    </a>
</div>

<ng-template #defaultNavbar>
    <div *ngIf="shouldShowToolbar()" class="topnav">
        <!-- Logo and Title -->
        <div style = "padding: 4px 0 0 4px"><img src="../../assets/recycling.png" class="logo" /></div>
        <div class="text_logo">FindYourSGR</div>
      
        <!-- Menu Content -->
        <div class="custom-menu" style="position: relative;">
            <button mat-icon-button aria-label="Menu">
                <mat-icon>menu</mat-icon>
              </button>
            <div class="menu-items">
              <a href="/map" class="menu-item">Harta</a>
              <a href="/login" class="menu-item">Logare</a>
              <a href="/authenticate" class="menu-item">Autentificare</a>
            </div>
          </div>
    </div>
</ng-template>

<!-- Main content container -->
<div class="container">
    <router-outlet></router-outlet>
</div>
