<div class="popup-container">
  <h2>Adaugă un punct pe hartă</h2>
  <p><strong>Pasul 1: Tip serviciu</strong></p>

  <select id="serviceType" class="full-width font">
    <option disabled selected>Selectează un tip de serviciu</option>
    <option>Punct SGR</option>
    <option>Coș de gunoi</option>
  </select>

  <div class="button-group">
    <button mat-raised-button color="primary" class="next-button font" (click)="onNext()">Pasul următor</button>
    <button mat-icon-button aria-label="Close" class="close-button" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
