<!-- Main container to hold the map and sidebar -->
<div class="container">
    <!-- The DIV that will contain the map -->
    <div #mapViewNode class="map-view"></div>
</div>

<div class="search-history">
    <h3>Istoric căutări</h3>
    <ul>
        <li *ngFor="let term of searchHistory">{{ term }}</li>
    </ul>
</div>

<div id="customPopup" class="custom-popup">
    <div class="popup-header">
        <p id="popupTitle">Coordinates:</p>
        <button id="closePopupBtn" class="popup-close-btn">&times;</button>
    </div>
    <div id="popupContent" class="popup-content">
        <p><strong>Longitude:</strong> <span id="longitudeValue"></span></p>
        <p><strong>Latitude:</strong> <span id="latitudeValue"></span></p>
        <button id="favoriteBtn" class="heart-shape">&#x2764;</button>
    </div>
</div>

<!-- Floating Action Button (FAB) -->
<!-- <button class="fab" (click)="clearRouter()">x</button> -->