<!-- Dark overlay for popup -->
<!-- <div class="dark-overlay" *ngIf="isPopupOpen" (click)="closePopup()"></div> -->

<!-- Navbar displayed conditionally based on the route -->
<div class="topnav" *ngIf="showNavbar">
    <div><img src="../../assets/recycling.png" class="logo" /></div>
    <!-- <span class="spacer-little"></span> -->
    <div style="flex-grow: 1; display: flex; align-items: center; justify-content: left;">FindYourSGR</div>
    <!-- Spacer to push items to the right -->
    <!-- <span class="spacer"></span> -->
    <a *ngFor="let tab of tabs" 
       href="javascript:void(0);" 
       (click)="onTabClick(tab)">
        {{ tab.name }}
    </a>
</div>

<!-- Main content container -->
<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- Optional button for testing popup, commented out -->
<!-- <button mat-raised-button color="accent" (click)="openPopup()">Adaugă un punct</button> -->
