<!-- Navbar displayed conditionally based on the route -->
<div class="topnav" *ngIf="isMainPage(); else defaultNavbar">
    <div><img src="../../assets/recycling.png" class="logo" /></div>
    <div class="text_logo">FindYourSGR</div>
    <a *ngFor="let tab of tabs" 
       href="javascript:void(0);" 
       (click)="onTabClick(tab)">
        {{ tab.name }}
    </a>
</div>

<ng-template #defaultNavbar>
    <!-- Navbar -->
    <mat-toolbar class="custom-toolbar">
        <!-- Logo and Title -->
        <div><img src="../../assets/recycling.png" alt="Logo" class="logo" /></div>
        <div class="spacer-little"></div>
        <div>FindYourSGR</div>
        <!-- Spacer to push items to the right -->
        <div class="spacer"></div>
      
        <!-- Menu Button with Navigation -->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
          <mat-icon>menu</mat-icon>
        </button>
      
        <!-- Menu Content -->
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/map'">
            <div>Harta</div>
          </button>
          <button mat-menu-item [routerLink]="'/login'">
            <div>Logare</div>
          </button>
          <button mat-menu-item [routerLink]="'/authenticate'">
            <div>Autentificare</div>
          </button>
        </mat-menu>
      </mat-toolbar>
</ng-template>

<!-- Main content container -->
<div class="container">
    <router-outlet></router-outlet>
</div>
