<div class="container" style="background-image: url('/assets/background.jpg'); 
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
min-height: 100vh;">
    <!-- Navbar -->
    <!-- <div class="topnav"> -->
        <!-- Logo and Title -->
        <!-- <div><img src="../../assets/recycling.png" class="logo" /></div>
        <div class="text_logo">FindYourSGR</div> -->
      
        <!-- Menu Content -->
        <!-- <div class="custom-menu" style="position: relative;">
            <button mat-icon-button aria-label="Menu">
                <mat-icon>menu</mat-icon>
              </button>
            <div class="menu-items">
              <a href="/map" class="menu-item">Harta</a>
              <a href="/login" class="menu-item">Logare</a>
              <a href="/authenticate" class="menu-item">Autentificare</a>
            </div>
          </div> -->
    <!-- </div> -->

      <!-- Main Content -->
      <div class="info-box">
        <img src="../../assets/reuse.png" alt="Icon" class="info-box-icon" />
        <h2>Găsește Punctele SGR din Apropierea Ta!</h2>
        <p>
          Descoperă rapid unde poți recicla sticle și ambalaje, direct de pe hartă!<br>
          Adaugă locații noi, verifică distanțele și coada la punctele SGR din zona ta, scanează bonurile și ai șansa să câștigi premii atractive!<br>
          Fii parte din schimbare și ajută la crearea unui mediu mai curat!
        </p>
        <button class="custom-button" [routerLink]="'/map'">Găsește-ți SGR-ul</button>
        <button class="custom-button" [routerLink]="'/login'">Loghează-te</button>
      </div>
       
</div>
  