<div class="popup-container">
    <h2>Adaugă un punct pe hartă</h2>
    <p><strong>Pasul 1: Tip și locație</strong></p>
    <label for="service">Tip serviciu *</label>
    <mat-form-field appearance="outline" class="full-width">
      <mat-select placeholder="Selectează un tip de serviciu" [(value)]="selectedService">
        <mat-option value="Service1">Serviciu 1</mat-option>
        <mat-option value="Service2">Serviciu 2</mat-option>
        <mat-option value="Service3">Serviciu 3</mat-option>
      </mat-select>
    </mat-form-field>
  
    <div class="button-group">
      <button mat-raised-button color="primary" (click)="onNext()">Pasul următor</button>
      <button mat-icon-button aria-label="Close" (click)="onCancel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  